<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
    <title>Hello, world!</title>
  </head>
  <body>
  
	<div class="container">
		<h1>Hello, world!</h1>
		{% if latest_trails_list %}
			<ul>
			{% for trail in latest_trails_list %}
				<li><a href="{% url 'hash_diary:trail_detail' trail.id %}">{{ trail }}</a></li>
			{% endfor %}
			</ul>
			<br>
			
			<table class="table table-condensed">
				<thead>
				<tr>
					<th>Day</th>
					<th>Date</th>
					<th>Time</th>
					<th>Location</th>
					<th>On Down</th>
					<th>Hare</th>
					<th>Pack</th>
				</tr>
				</thead>
				<tbody>
				{% for trail in latest_trails_list %}
				<tr>
					<td>{{ trail.local_day }}</td>
					<td>{{ trail.local_date }}</td>
					<td>{{ trail.local_time }}</td>
					<td>{{ trail.location }}</td>
					<td>{{ trail.on_down }}</td>
					<td>{{ trail.hare }}</td>
					<td>{{ trail.pack }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
			
		{% else %}
			<p>No trails are available.</p>
		{% endif %}
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>

